#u6632,#u6633,#u6634
{
	border-width: 0px;
	border-color: transparent;
	background-color: #2C3E50;
}

#accordionu7410
{
	border-color: #7F7F7F;
	background-color: transparent;
}

#u7421-3
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u7412
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.9);
	-pie-background: rgba(255,255,255,0.9);
}

#menuu6648
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u6650
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u6652-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	color: #FF5806;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u6736
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u6738-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	color: #2C3E50;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u6757
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u6759-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	color: #2C3E50;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u6798,#u7411,#u6649,#u6735,#u6756,#u6777
{
	background-color: transparent;
}

#u6780
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u6650.MuseMenuActive,#u6736.MuseMenuActive,#u6757.MuseMenuActive,#u6780.MuseMenuActive
{
	border-color: #7F7F7F;
}

#u6781-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	color: #2C3E50;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u6650.MuseMenuActive #u6652-4,#u6736.MuseMenuActive #u6738-4,#u6757.MuseMenuActive #u6759-4,#u6780.MuseMenuActive #u6781-4
{
	border-width: 0px;
	border-color: transparent;
}

#u6650.MuseMenuActive #u6652-4 p,#u6736.MuseMenuActive #u6738-4 p,#u6757.MuseMenuActive #u6759-4 p,#u6780.MuseMenuActive #u6781-4 p
{
	color: #0071BC;
	visibility: inherit;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}


